.slider {
  display: block;
  overflow: hidden;
  position: relative;
  &__wrapper {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
  }
  &__item {
    display: block;
    flex-shrink: 0;
  }
  &__pagination {
    align-items: center;
    bottom: 40px;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 5;

    @media (max-width: 768px) {
    bottom: 24px;
  }

    &-item {

      background: rgba(0,0,0,0.2);
      cursor: pointer;
      display: block;
      margin: 0 4px;

      &:hover {
        background: #77243a;
      }

      &_active {
        background: #0d0a0a;
      }
    }
  }
  &__navigation {

    @media (max-width: 992px) {
    display: none;
  }

    &-item {

      bottom: 20%;
      color: #0d0a0a;
      cursor: pointer;
      display: block;
      position: absolute;
      z-index: 6;

      &:hover {
        color: #77243a;
      }

      &_prev {
        left: 60px;

        .icon {
          transform: rotate(180deg);
        }
      }
      &_next {
        right: 60px;
      }
      &_disabled {
        display: none;
      }

      .icon {

        display: block;
      }
    }
  }
}
.slider__item {
  position: relative;
  height: 300px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.section__slider-wrapper {
  min-width: 0;
}
