<section class="section-catalog">
    <div class="catalog _container">
        <div class="catalog__wrapper">
            <div class="catalog__items">
                <div class="catalog__header">
                    <div class="catalog__header-found">
                        <h2 class="catalog__title">Найдено 236 планировок</h2>
                        <div class="catalog__header-filter header-filter">
                            <div class="header-filter__number"><span class="header-filter__number-numeric">0</span>Фильтр</div>
                            <div class="header-filter__reset">Сбросить все</div>
                        </div>
                    </div>
                    <div class="catalog__specifications">
                        <div class="catalog__specifications-elements">До 50 м²</div>
                        <div class="catalog__specifications-elements">Готовое жилье</div>
                        <div class="catalog__specifications-elements">Два санузла</div>
                        <div class="catalog__specifications-elements">Балкон</div>
                        <div class="catalog__specifications-elements">Дом сдан</div>
                    </div>
                    <div class="catalog__header-bottom header-bottom">
                        <div class="header-bottom__cheaper">
                            Сначала дешевле
                            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 8L4 11L1 8" stroke="#858B97" stroke-linecap="round"/>
                                <path d="M1 4L4 1L7 4" stroke="#858B97" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="header-bottom__net">
                            <div class="header-bottom__net-item">
                                <svg class="header-bottom__net-item-list" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="path-1-inside-1_10_23075" fill="white">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4H20V8H4V4ZM4 10H20V14H4V10ZM20 16H4V20H20V16Z"/>
                                    </mask>
                                    <path d="M20 4H21V3H20V4ZM4 4V3H3V4H4ZM20 8V9H21V8H20ZM4 8H3V9H4V8ZM20 10H21V9H20V10ZM4 10V9H3V10H4ZM20 14V15H21V14H20ZM4 14H3V15H4V14ZM4 16V15H3V16H4ZM20 16H21V15H20V16ZM4 20H3V21H4V20ZM20 20V21H21V20H20ZM20 3H4V5H20V3ZM21 8V4H19V8H21ZM4 9H20V7H4V9ZM3 4V8H5V4H3ZM20 9H4V11H20V9ZM21 14V10H19V14H21ZM4 15H20V13H4V15ZM3 10V14H5V10H3ZM4 17H20V15H4V17ZM5 20V16H3V20H5ZM20 19H4V21H20V19ZM19 16V20H21V16H19Z" fill="#D6DCE1" mask="url(#path-1-inside-1_10_23075)"/>
                                </svg>
                            </div>
                            <div class="header-bottom__net-item header-bottom__net-item--active">
                                <svg class="header-bottom__net-item-bar" width="24" height="24" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="4.5" y="4.5" width="6" height="6" stroke=""/>
                                    <rect x="13.5" y="4.5" width="6" height="6" stroke=""/>
                                    <rect x="4.5" y="13.5" width="6" height="6" stroke=""/>
                                    <rect x="13.5" y="13.5" width="6" height="6" stroke=""/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__cards-wrapper catalog__cards--col">

                </div>
            </div>
            <div class="catalog__filters filters">
                <div class="filters__item filter__number-rooms">
                    <h5 class="filters__title">Количество комнат</h5>
                    <ul class="filters__rooms">
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>C</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>1</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>1+</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>2</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>2+</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>3</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>3+</span>
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>4...</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filters__item">
                    <h5 class="filters__title">Особенности планировки</h5>
                    <ul class="filters__list">
                        <li class="filters__list-item"><span>2 и более санузла</span></li>
                        <li class="filters__list-item"><span>Большая лоджия</span></li>
                        <li class="filters__list-item"><span>Гардеробная</span></li>
                        <li class="filters__list-item"><span>Кухня-гостиная</span></li>
                        <li class="filters__list-item"><span>Лоджия</span></li>
                    </ul>
                </div>
                <div class="filters__item">
                    <h5 class="filters__title">Проект</h5>
                    <ul class="filters__rooms filter__project">
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>ZNAK</span>
                                <img src="img/znak.svg" alt="">
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>На Ломоносова</span>
                                <img src="img/lomonosova.svg" alt="">
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>Васильки</span>
                                <img src="img/vasilki.svg" alt="">
                            </label>
                        </li>
                        <li class="filters__rooms-item">
                            <label class="checkbox-other">
                                <input type="checkbox">
                                <span>На Калинина</span>
                                <img src="img/kalinina.svg" alt="">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filters__item filter-slider">
                    <h5 class="filters__title">Стоимость, ₽</h5>
                    <div class="filter-slider__wrapper">
                        <label>
                            <span>от</span>
                            <input type="text" id="input-with-keypress-0">
                        </label>
                        <label>
                            <span>до</span>
                            <input type="text" id="input-with-keypress-1">
                        </label>
                    </div>
                    <div id="steps-slider"></div>
                </div>
            </div>
        </div>
    </div>
</section>
